<tr
  data-row="{{ ident }}"
  {{#if duplicates}}data-duplicates="{{ duplicates }}"{{/if}}
>
  <th
    scope="row"
    id="{{ identId }}"
    headers="{{ groupId }}-ident"
    data-column="ident"
    data-notes="{{#each notes }} {{ this }} {{/each}}"
  >
    <span>{{{ labelHtml }}}</span>
    <div class="notes">
      {{#each notes }}
        <a href="#footnote-{{ this }}" class="note">{{ this }}</a>
      {{/each}}
      {{#each rowData.notes }}
        <a href="#footnote-{{ this }}" class="note compare-target">{{ this }}</a>
      {{/each}}
    </div>
  </th>

  {{{ cells }}}

</tr>