<td
  headers="{{ identId }} {{ groupId }}-platform-{{ platform.ally.group }} {{ groupId }}-browser-{{ platform.ally.key }}"
  data-focusable="{{ browser.focusable }}"
  data-tabbable="{{ browser.tabbable }}"
  data-focus-event="{{ browser.focusEvent }}"
  data-focus-method="{{ browser.focusMethod }}"
  data-tabindex="{{ browser.tabIndex }}"
  data-row="{{ ident }}"
  data-colum="{{ platform.ally.key }}"
>
  <span>{{ browser.label }}</span>
</td>