<tr
  data-row="{{ ident }}"
  {{#if duplicates}}data-duplicates="{{ duplicates }}"{{/if}}
>
  <th
    scope="row"
    id="{{ identId }}"
    headers="{{ groupId }}-ident"
    data-column="ident"
    data-notes="{{#each notes }} {{ this }} {{/each}}"
  >
    <span>{{{ labelHtml }}}</span>
    {{#if hasNotes }}
    <div class="notes">
      {{#each notes }}
      <a href="#footnote-{{ this }}" class="note">{{ this }}</a>
      {{/each}}
    </div>
    {{/if}}
  </th>

  {{{ cells }}}

</tr>